<div class='box scrollingText'>
	<div *ngFor="let joke of jokesArr; let i = index"> 
		<div class="nowrap" *ngIf="joke.type == 'twopart'">
			 <p style="background-color: black; margin-left: calc({{ joke.length }} + 5)px">Q: {{ joke.setup }} A: {{ joke.delivery }} </p>
		</div>
		<div class="nowrap" *ngIf="joke.type == 'single'"> 
			<p style="background-color: black; margin-left: calc({{ joke.length }} + 5)px"> {{ joke.joke }} </p>
		</div>
	</div>
</div> 
<!-- currently recieving data after this loads, causing error -->

<!-- Styles -->	
<style>
.calc-left {

}

.nowrap {
  white-space: nowrap ;
}

.scrollingText {
  height: 15px;	
  overflow: hidden;
  position: relative;
  width: auto;
}
.scrollingText p {
  font-size: 1em;
  color: limegreen;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 15px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  /* Apply animation to this element */	
  -moz-animation: text-scroll 20s linear infinite;
  -webkit-animation: text-scroll 20s linear infinite;
  animation: text-scroll 20s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes text-scroll {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes text-scroll {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes text-scroll {
  0%   { 
   -moz-transform: translateX(100%); /* Firefox bug fix */
   -webkit-transform: translateX(100%); /* Firefox bug fix */
   transform: translateX(100%); 		
  }
  100% { 
   -moz-transform: translateX(-100%); /* Firefox bug fix */
   -webkit-transform: translateX(-100%); /* Firefox bug fix */
   transform: translateX(-100%); 
  }
}
</style>