<div class="container" *ngIf="messages.length > 0">
	<div class="container">
		<div class="level is-mobile">
			<mat-paginator class="level-item"
				[length]="totalMessages"
				[pageSize]="messagesPerPage"
				[pageSizeOptions]="pageSizeOptions"
				(page)="onChangedPage($event)">		
			</mat-paginator>
		</div>
	</div>
	<article class="message is-small {{message.color}}" *ngFor="let message of messages">
		<div class="message-header">
			<p>{{ message.title }}</p>
		</div>
		<div class="message-body">
			<div class="message-image">
				<img [src]="message.imagePath" [alt]="message.title">
			</div>
			<p>{{ message.content }}</p>
		</div>
		<div>
			<button class="button is-small is-primary" [routerLink]="['/message-board/edit', message.id]">EDIT</button>
			<button class="button is-small is-warning" (click)="onDelete(message.id)">DELETE</button>
		</div>
		<!-- <mat-action-row>
			<a mat-button color="primary" [routerLink]="['/message-board/edit', message.id]">EDIT</a>
			<button mat-button color="warn" (click)="onDelete(message.id)">DELETE</button>
		</mat-action-row> -->
	</article>
</div>

<p class="no-posts" *ngIf="messages.length <= 0">Be the first to leave a message!</p>