<div class="container message-box">
	<h2>Enter a message to join the chat.</h2>
	<form (submit)="onAddMessage(messageForm)" #messageForm="ngForm">
		<input 
			class="input is-warning" 
			type="text" 
			placeholder="Message Title: e.g. Hello there!" 
			name=title
			ngModel
			required>
		<textarea 
			class="textarea is-primary" 
			placeholder="Message Content: e.g. General Kenobi! *lightsaber noises*" 
			rows="6" 
			name="content"
			ngModel
			required>
		</textarea>
		<hr>
		<div class="container">
			<p class="intro is-pulled-left"> Pick a color!:&nbsp;&nbsp;</p>
			<div class="select is pulled-left">
			  <select name="color" 
			  		  ngModel
			  		  required> 
			  	<option *ngFor="let color of messageColorArray" 
			  			value="{{color.value}}"
			  			style="{{color.style}}">
			  		<p>{{color.name}}</p>
			  	</option>
			  </select>
			</div>
			<button class="button is-small is-warning is-rounded is-pulled-right" 
					type="Submit">
					Save Message
			</button>
		</div>
	</form>
</div>