.message-box
	width: 80%
	margin: auto

h2
	font-size: 18px
	color: purple
	font-weight: bold

.intro
	font-family: Helvetica, sans-serif
	font-weight: bold
	margin-top: 0.5rem

button
	font-weight: bold