<nav color="primary">
	<span>
		<a routerLink="/message-board/">My Messages</a>
	</span>

	<span class="spacer"></span>

	<ul>
		<li>
			<button class="button is-small is-primary" routerLink="/message-board/create" routerLinkActive="mat-accent">New Message</button>
		</li>
	</ul>
</nav>

<div class="container message-box">
	<h2>Enter a message to join the chat.</h2>
	<form [formGroup]="form" (submit)="onSaveMessage()">
		<input 
			class="input is-warning" 
			type="text"  
			formControlName="title"
			placeholder="Message Title: e.g. Hello there!">
		<textarea 
			class="textarea is-primary" 
			rows="4" 
			formControlName="content" 
			placeholder="Message Content: e.g. General Kenobi! *lightsaber noises*">
		</textarea>
		<hr>
		<div class="container">
			<p class="intro is-pulled-left"> Pick a color!:&nbsp;&nbsp;</p>
			<div class="select is pulled-left">
			  <select name="color"> 
			  	<option *ngFor="let color of messageColorArray" 
			  			value="{{color.value}}"
			  			style="{{color.style}}">
			  		<p>{{color.name}}</p>
			  	</option>
			  </select>
			</div>
			<button class="button is-small is-warning is-rounded is-pulled-right" 
					type="Submit">
					Save Message
			</button>
		</div>
		<div>
			<button type="button" class="button is-small" (click)="filePicker.click()">Pick Image</button>
			<input type="file" #filePicker (change)="onImagePicked($event)">
		</div>
		<div class="image-preview" 
			 *ngIf="imagePreview !== '' 
			 		&& imagePreview 
			 		&& form.get('image').valid">
			<img [src]="imagePreview" [alt]="form.value.title">
		</div>
	</form>
</div>