<section class="hero is-primary is-bold">
    <div class="hero-body">
	    <div class="container">

	        <h1 class="title">Contact Me!</h1>

	    </div>
    </div>
</section>

<section class="section">
	<div class="container">
		<button (click)="sendText()" type="button" class="button is-info is-medium"> Send Text </button>

		<!-- form goes here -->
		<form (ngSubmit)="processForm()">
			<!-- name -->
			<div class="field">
				<input 
					type="text" 
					name="name" 
					class="input" 
					placeholder="Your Name" 
					[(ngModel)]="name" 
					required minlength="3" 
					#nameInput="ngModel">
				<div class="help is-error" *ngIf="nameInput.invalid && nameInput.dirty">
					Name is required and needs to be at least 3 characters long. You can input more than one name.
				</div>
			</div>
			<!-- phone number -->
			<div class="field">
				<input 
					type="phone" 
					name="phone" 
					class="input" 
					placeholder="Your phone number" 
					[(ngModel)]="phone" 
					required 
					phoneNumber
					#phoneInput="ngModel">
				<div class="help is-error" *ngIf="phoneInput.invalid && phoneInput.dirty">
					Valid phone numbers only please.
				</div>
			</div>

			<!-- message -->
			<div class="field">
				<textarea 
					class="textarea" 
					name="message" 
					placeholder="What's on your mind?" 
					[(ngModel)]="message" 
					required
					#messageInput="ngModel">	
				</textarea>
				<div class="help is-error" *ngIf="messageInput.invalid && messageInput.dirty">
					You gotta give me some kind of message to work with.
				</div>
			</div>

			<button type="submit" class="button is-danger is-large">Submit</button>

		</form>
	</div>
</section>